.footer-background {
    background-color: #333;
    padding: 60px 0;
}
.footer-container {
    width: 85%;
    margin: 0 auto;
    color: #fff;
}
.footer-container img {
    width: 80px;
}
.footer-content {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    gap: 20px;
    font-size: 16pt;
    margin-bottom: 60px;
}

.footer-container p {
    width: 60%;
    margin: 10px 0 60px;
}